/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
body {
color: #fff;
	   font-family: 'Montserrat', sans-serif;
	   font-size: 14px;
	   font-style: normal;
	   font-weight: 400;
	   line-height: 24px;
	   overflow-x: hidden;
	   overflow-y: auto;
	visibility: visible;
}
img {
	max-width:100%;
	height:auto
}
h1, h2, h3, h4, h5, h6 {
color: #fff;
	   font-weight: 600;
	   margin-top:0px;
}
p:last-child {
		  margin-bottom: 0;
  }
a, button{
		text-decoration:none;
color: #fff;
}
a, a::before, a::after, i, button, img, input,
		*::before, *::after {
				-webkit-transition: all 0.1s ease 0s;
				-moz-transition: all 0.1s ease 0s;
				-o-transition: all 0.1s ease 0s;
transition: all 0.1s ease 0s;
		}
*:focus {
outline:0px solid
}
a:focus {
color: #fff;
outline: medium none;
		 text-decoration: none;
  }
a:hover {
color: #fb9902 !important;
	   font-weight: bold;
	   text-decoration: none;
  }
ul{
		list-style: outside none none;
margin: 0;
padding: 0
}

.fix {
overflow:hidden
}
.clear{
clear: both;
}
.float-left {
float: left;
}
.float-right {
float: right;
}
/*preloader-area */
.table, .table-cell {
display: table;
height: 100%;
margin: 0;
width: 100%;
}
.table-cell {
display: table-cell;
		 vertical-align: middle;
}

#scrollUp {
background: #fb9902 none repeat scroll 0 0;
			-webkit-border-radius: 5px;
			border-radius: 5px;
bottom: 30px;
color: #ffffff;
	   font-size: 14px;
height: 45px;
		line-height: 44px;
position: absolute;
right: 30px;
	   text-align: center;
transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
width: 45px;
}
.margin-0 {
margin: 0px !important;
}
.margin-top-90 {
		margin-top: 90px !important;
}
.margin-bottom-90 {
		margin-bottom: 90px !important;
}
.margin-bottom-25 {
		margin-bottom: 25px !important;
}
.margin-top-30 {
		margin-top: 30px !important;
}
.margin-bottom-30 {
		margin-bottom: 30px !important;
}
.margin-90 {
		margin-bottom: 90px !important;
		margin-top: 90px !important;
}
.padding-0 {
padding: 0px !important;
}
.padding-top-80 {
		padding-top: 80px !important;
}
.padding-top-90 {
		padding-top: 90px !important;
}
.padding-bottom-90 {
		padding-bottom: 90px !important;
}
.padding-90 {
		padding-bottom: 40px !important;
		padding-top: 40px !important;
}
.overlay {
background: rgba(0,0,0,0.9);
display: block;
height: 100%;
width: 100%;
}

/*----------------------------------------*/
/*  3.  Header Area
/*----------------------------------------*/
.navbar-header {
padding:32px 0;
}
.hero-wrapper{
position:relative;
height:500px;
overflow:hidden;
}

.hero-wrapper:before {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
background: #000;
content: "";
opacity: .7;
}
.ptb-100 {
padding: 0px 0px 50px;
}
.hero-wrapper {
		background-image: url("img/bg.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
height: 100vh;
overflow: hidden;
position: relative;
}

.hero-content {
height: 100%;
position: absolute;
width: 100%;
}
.table{
display:table;
height:100%;
}
.table-cell{
display:table-cell;
		vertical-align:middle;
}
.table-cell h1 {
color: #fff;
	   font-size: 40px;
	   font-weight:500;
	   margin-bottom: 20px;
}
.hero-content h3 {
color: #ffffff;
	   font-size: 20px;
	   margin-bottom: 20px;
}
.hero-content p {
color: #ffffff;
	   font-size: 14px;
	   margin-top: 15px;

}
.hero-content > p > span {
margin: 0 12px;
}
.hero-content a {
background: #ffffff none repeat scroll 0 0;
color: #555;
display: inline-block;
		 margin-top: 16px;
padding: 8px 35px;
		 text-transform: uppercase;
		 font-weight:600;
transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			font-size:12px;
}
.hero-content a:hover {
background: #fb9902;
color: #fff;
}
/*----------------------------------------*/
/*  4.  Demo Area
/*----------------------------------------*/
.section-title{
		margin-bottom: 30px;
}
.title{
		font-size:36px;
		font-weight:700;
		margin-bottom:30px;
}
.single-demo {
background: #fff none repeat scroll 0 0;
			margin-bottom: 50px;
position: relative;
transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			box-shadow: 0px 1px 1px 0px rgb(100,100,100);
}
.single-demo:hover{
		box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
}
.demo-area {
background: #0d0f11 none repeat scroll 0 0;
			padding-top: 40px;
}
.demo-img {
background: rgba(0, 0, 0, 0) none no-repeat scroll center top / cover ;
position: relative;
transition: background 4s ease 0s;
			-webkit-transition: background 4s ease 0s;
			-moz-transition: background 4s ease 0s;
}
.demo-img > a{
position:relative;
		 z-index:9;
display:block;
}
.demo-img > a::after {
		background-color: #000;
content: "";
left: 0;
position: absolute;
top: 0;
transition: all 0.5s ease 0s;
			-webkit-transition: all 0.5s ease 0s;
			-moz-transition: all 0.5s ease 0s;
			z-index:1;
width:100%;
height:100%;
opacity:0;
}
.single-demo:hover .demo-img a::after {
opacity: .7;
}

.demo-img, .demo-img > a, .demo-img > a > img {
height:250px !important;
width:100% !important;
}
.demo-img > a {
background:black !important;
}

.demo-img > a::before {
color: #fff;
content: "Live Preview";
		 font-size: 14px;
		 font-weight: 500;
left: 0;
	  letter-spacing: 1px;
opacity: 0;
position: absolute;
right: 0;
	   text-align: center;
	   text-transform: capitalize;
top: 50%;
transform: scale(0);
		   -webkit-transform: scale(0);
		   -moz-transform: scale(0);
transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			z-index: 999;
}
.single-demo:hover  .demo-img > a:before{
transform: scale(1);
		   -webkit-transform: scale(1);
		   -moz-transform: scale(1);
opacity:1;
}
.demo-content {
background: #131619 none repeat scroll 0 0;
			border-top: 1px solid #fb9902;
padding: 30px 0;
position:relative;
}
.demo-content h3 {
		font-size: 16px;
		width: calc(100% - 170px);
		margin: auto;
		/*text-transform: uppercase;*/
}
.demo-content h3 a {
	color: #fff;
	font-weight:100;
}
.demo-content h3 a:hover{
	color:#fb9902;
	font-weight:100;
}
.btn-white {
background: #fff none repeat scroll 0 0;
display: inline-block;
		 font-size: 13px;
		 font-weight: 700;
		 line-height: 21px;
		 margin-top: 5px;
padding: 7px 16px;
		 /*text-transform: uppercase;*/
		 border-radius: 4px;
transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
display:inline-block;
}
.btn-white:hover {
		box-shadow: 0 8px 10px #666;
} 
.demo-link{
display: inline-block;
position: absolute;
right: 12px;
top: 21px;
}
.fa-mobile{
	position: relative;
	top: 2px;
	left: 2px;
}

.demo-area .fa-code {
	font-size: 200%;
}
.demo-area .fa-mobile {
	font-size: 210%;
}
.demo-area .fa-file-text-o {
	font-size: 150%;
    position: relative;
    bottom: 1px;
}

/*----------------------------------------*/
/*  9.  Feature Area
/*----------------------------------------*/
.footer-bottom p{ font-size:10px !important; } 
.section-title h1 {
		margin-bottom: 16px;
		margin-top: 0px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 30px;
}
.feature-list{
		margin-bottom: 20px;
}
.feature-list ul li {
		text-align:center;
display: block;
		 line-height: 36px;
}
.feature-list ul li::before {
color: #fb9902;
content: "➞"";
		 margin-right: 10px;
}
@media screen and ( max-width:480px) {
		.bio-charts{
position: relative;
right: 110px;
		}
		.bio-charts > .chart-container{
width:500px !important;
		}
		.bio-charts > .chart-container:last-child{
right: 110px;
		}
}
/*----------------------------------------*/
/*  10.  Footer Area
/*----------------------------------------*/
.footer-top {
		background-color: #0d0f11 ;
padding: 75px 0;
}
.footer-logo {
		margin-bottom: 20px;
}
.footer-logo h2 {
color: #fff;
	   font-size: 20px;
margin: 0;
		text-transform: uppercase;
		font-weight: 700;
}
.footer-social a {
		border-radius: 50%;
color: #fff;
display: inline-block;
height: 32px;
		vertical-align: top;
width: 32px;
}
.footer-social a i {
display: block;
		 line-height: 32px;
}
.footer-social a:hover {
		background-color: #fff;
color: #222;
}
.footer-bottom {
		background-color: rgb(55,55,55);
padding: 5px 0;
}
.footer-bottom .copyright p {
color: #fff;
	   font-weight: 500;
	   line-height: 22px;
	   font-size: 15px;
}
.footer-bottom .copyright p a {
color: #fff;
}
.footer-bottom .copyright p a:hover {
color: #303030;
}
.footer-bottom .payment-method {
		margin-bottom: 0;
}
.footer-bottom .payment-method img{}

.feature-area {
background: #131619 none repeat scroll 0 0;
}

.f_section_title{
color:white;
width: 100% !important;
	   text-align: center !important;
	   padding-bottom: 40px;
}
.btn-primary:hover{
color: #fff !important;
	   background-color: #fb9902 !important;
	   border-color: #fb9902 !important;
	   font-weight:normal;
}
.btn-primary:active, .btn-primary:visited, .btn-primary:link{
		background-color: var(--color-contrast-low, #d3d3d4);
color: #333;
}
.modal-open {
    overflow: hidden !important;
}

.modal-dialog button,  .modal-dialog button[type="submit"]{
		background-color: var(--color-contrast-low, #d3d3d4) !important;
color: #333 !important;
}
.modal-dialog button:hover, .modal-dialog button[type="submit"]:hover{
color: #fff !important;
	   background-color: #fb9902 !important;
	   border-color: #fb9902 !important;
	   font-weight:normal;
}
.modal-dialog input[type="text"], .modal-dialog input[type="email"], .modal-dialog textarea,.modal-dialog  label {
	color: black !important;
}
.buy-template:hover{
color:white !important;
}

.ptb-100 > .row{
		max-width: 1400px;
margin: auto !important;
}

#about{
		background-color: rgba(0,0,0,.7);
position:relative;
		 font-size:150%;
}

#about::after {
content: '';
background:url(img/back-town.jpg);
		   background-position: center center;
		   background-repeat: no-repeat;
		   background-size: cover;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
		z-index:-1;
}

#languageblock {
position: absolute;
top: 0;
right: 5px;
	   font-size:10px;
}

.bio-charts h4{
color:white !important;
	  text-align: center; 
position: relative;
top: 23px;
}

#contact {
	color: white;
	padding: 5px 40px;
	font-weight: bold;
	background: transparent;
	border: 1px solid white;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

#contact:hover{
    background: #fb9902;
	border: 1px solid #fb9902;
}

.modal-content input[type="text"], .modal-content input[type="email"], .modal-content textarea {
	width: 100%;
}

#careerContent {
	max-height: 80vh;
    overflow-y: scroll;
}
#careerContent::-webkit-scrollbar {
    display: none;
}
.modal-content button[type="submit"], #careerdetail .modal-footer button {
	width: 50%;
	margin: 30px auto 0;
	display: block;
}

#careerdetail .modal-footer button {
	margin: auto !important;
}

#careerdetail  .modal-header {
	background: rgb(30,30,30);
}

#careerdetail .modal-body, #careerdetail .modal-footer{
	background: rgb(45,45,45);
}

#contactbox .close {
	background-color: transparent  !important;
	color: black !important;
	font-weight: 100;
    position: absolute;
    top: 10px;
    right: 10px;
	opacity: .5;
}
#contactbox .close:hover {
	opacity: .8;
}

#careerdetail .close {
	background-color: transparent  !important;
    color: white !important;
    font-weight: 100;
    position: absolute;
    top: 10px;
    right: 10px;
}
#careerdetail .close span {
	border-radius: 100px;
	padding: 0 5px;
}

#careerdetail .close :hover {
    background: #fb9902 !important;
}

#careerdetail .modal-header{
	border-bottom-color: rgb(100,100,100);
}

#careerdetail .modal-footer {
	border-top-color: transparent;
}

#careerdetail .modal-footer button:not(:hover) {
    border: 1px solid rgb(100,100,100) !important;
    color: rgb(100,100,100) !important;
	background-color: transparent !important;
}

#careerTitle, #careerSubTitle, #careerContent {
	color: rgb(150,150,150) !important;
}

#careerSubTitle {
    font-size: 12px;
    margin-top: 10px;
}

#about .career-content {
	display: none;
}

.modal.fade.in {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.modal > div {
	flex-basis: 80%;
	max-width: 550px;
}

#careerdetail .modal-content {
    background-color:black !important;
}

#careerdetail #careerContent p {
	margin-bottom: 15px;
}

#careerdetail #careerContent .table * {
	border-color:rgb(100,100,100) !important;
}


